<% article.comments.order('created_at DESC').each do |comment| %>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2" align="right">
				<div class="row">
					<%= link_to gravatar_for(article.user, size: 40) , user_path(article.user) %> 
				</div>
			</div>
			<div class="col-md-8">
				<div class="well well-lg">				
					<div class="Comment:">
						<% if comment.comment? %>
							<div class="row">
								<div class="col-md-12" style="word-wrap: break-word;">
									<%= link_to(User.find(comment.user_id).username, user_path(User.find(comment.user_id).id)) %>
									<%= simple_format(comment.comment)  %>
								</div>
							</div>	
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<%  end %>