#logo{

	float:left;
	font-size: 1.4em;
	color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
#logo:hover{
	text-decoration: none;

}

.center{
	text-align: center;
}

.jumbotron{
	background-image: asset-url("jumbotron-bg");
	background-size: cover;
	height: 550px;

	h1{
		color:white;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: -1px;
		font-weight: bold;
	}
	.btn-xlarge{
		font-size: 1.7em;

	}
}
.description{
	margin-top: 0;
}
.article-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.article-title{
	font-weight: bold;
	font-size:1.5em;
}
.article-body{
	border-top: 1px solid #eaeaea;
	padding-top:15px;
	padding-bottom:15px;
}
footer{

	ul{
		list-style-type: none;
	}
}
