body {
	background-color: #e6f2ff;
	margin-top: 30px;
}
color-random {
	background-color: #b3ffff;
}
#logo{

	float:left;
	font-size: 1.4em;
	color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
#logo:hover{
	text-decoration: none;

}

.center{
	text-align: center;
}

.jumbotron{
	background-image: asset-url("jumbotron-bg");
	background-size: cover;
	height: 550px;

	h1{
		color:white;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: -1px;
		font-weight: bold;
	}
	.btn-xlarge{
		font-size: 1.7em;

	}
}
.description{
	margin-top: 0;
}
.article-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.article-title{
	
	h1{
	font-weight: bold;
	font-size:1.5em;
	}

	small{
 		 font-style: italic;
	}
}
.article-body{
	
	padding-top:15px;
	padding-bottom:15px;
    border-top: 1px solid #eaeaea;
}
.listing{
	list-style: none;
	padding-left:0;
}
.badge {
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
.input_checkbox {
	input{
		width: auto !important;
	}
}

footer{

	ul{
		list-style-type: none;
	}
}
btn-custom{
	background-color: #52527a;
}
/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
